.page {
  background-color: #2a2c2f;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}

/* стиль для гиперссылок */
a {
  color: #ffffff;
  transition: 1s;
}
a:hover {
  opacity: 80%;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
