.header__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  align-self: center;
}

.header__links :first-child {
  margin-right: 18px;
}

.header__links :last-child {
  margin-right: 0;
}
