.place__url-heading {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: #aaaaaa;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 1024px) {
  .place__url-heading {
  }
}

@media screen and (max-width: 768px) {
  .place__url-heading {
  }
}

@media screen and (max-width: 320px) {
  .place__url-heading  {


  }
}
